.control-panel {
  font-size: 14px;
  line-height: 18px;
  width: 284px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  margin: 24px;
  padding: 12px 24px;
  position: absolute;
  top: 0;
  right: 0;
  outline: none;
  cursor: auto;
  box-sizing: border-box;
}

.control-panel h3 {
  font-size: 1.2em;
  font-weight: 500;
  margin: 8px 0;
}

.control-panel h4 {
  font-weight: 500;
  margin: 8px 0;
}

.control-panel p {
  margin-bottom: 16px;
}

.control-panel .links {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.control-panel .links a {
  font-weight: bold;
  color: #486865;
  font-size: 11px;
}

html[data-theme='dark'] .control-panel {
  background: var(--ifm-background-color);
}

html[data-theme='dark'] .gm-style {
  color: var(--ifm-color-black);
}
.autocomplete-container input,
.autocomplete-control {
  box-sizing: border-box;
}

.autocomplete-control {
  margin: 24px;
  background: #fff;
}

.autocomplete-container {
  width: 300px;
}
.autocomplete-container input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  font-size: 18px;
}

.autocomplete-container .custom-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.autocomplete-container .custom-list-item {
  padding: 8px;
}

.autocomplete-container .custom-list-item:hover {
  background: lightgrey;
  cursor: pointer;
}

.autocomplete-mode {
  margin: 8px 0;
}

.drawing-history {
  margin: 5px;
  display: flex;
  align-items: center;
  gap: 2px;
  height: 27px;
  box-sizing: border-box;
}

.drawing-history button {
  height: 100%;
  background: rgb(255, 255, 255);
  border: 0px;
  margin: 0px;
  cursor: pointer;
  color: rgb(86, 86, 86);
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

.drawing-history button svg {
  width: 20px;
}
.drawing-history button path {
  fill: rgb(86, 86, 86);
}

.drawing-history button:hover {
  background: rgb(235, 235, 235);
}

.drawing-history button:disabled:hover,
.drawing-history button:disabled {
  background: rgb(255, 255, 255);
  opacity: 0.5;
  cursor: default;
}
