.view-center-marker {
  width: 0;
  height: 0;
}

.view-center-marker .circle {
  width: 10px;
  height: 10px;
  background-color: blue;
  border: 1px solid black;
  border-radius: 50%;
  translate: -50% -50%;
}
