.details-container {
  background-color: var(--background-color-primary);
  height: 100%;
  opacity: 0;
  max-width: 0;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
  visibility: hidden;
}

.listing-image {
  height: auto;
  width: 200px;
  object-fit: cover;
}

.listing-content {
  height: 100%;
  padding: 24px;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  h2 {
    font-family: var(--font-family-rufina);
  }

  p,
  span {
    font-family: var(--font-family-raleway);
  }

  h2 {
    color: var(--estate-green-light);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0.2px;
    margin: 0;
  }

  p {
    color: var(--estate-green-light);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.2px;
    margin: 0;
  }

  .description {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }

  .price {
    color: var(--estate-green-light);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
}

.details {
  display: flex;
  flex-direction: row;
  gap: 16px;

  .detail_item {
    color: var(--estate-grey-main);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.2px;

    display: flex;
    align-items: center;
    gap: 4px;

    span,
    svg {
      font-size: 17px;
      color: var(--estate-yellow);
    }
  }
}
