name: Website Test
on: [push, pull_request]

jobs:
  build:
    name: Build Website
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm

      - name: Install dependencies (main)
        run: npm ci

      - name: Install dependencies (website)
        working-directory: ./website
        run: npm ci

      - name: Build website
        working-directory: ./website
        run: npm run build
        env:
          GOOGLE_MAPS_API_KEY: ${{ secrets.GOOGLE_MAPS_API_KEY }}
